---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/creditcard/create
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test One time credit card payment","amount":{"currency":"EUR","value":10},"successUrl":"https://www.test.com/success","failUrl":"https://www.test.com/fail","backUrl":"https://www.test.com/back","lang":"PT","minutesFormUp":1440}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","transactionID":"FILTERED","reference":"FILTERED","redirectUrl":"FILTERED"}'
  recorded_at: Sun, 28 Dec 2025 13:35:01 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/clientes/rest_api/multibanco/info
    body:
      encoding: UTF-8
      string: '{"referencia":"233929","chave":"<EUPAGO_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entidade":null,"referencia":"233929","identificador":"Test One time
        credit card payment","estado":0,"data_criacao":"2025-12-28","hora_criacao":"13:35:01","estado_referencia":"pendente","arquivada":false,"sucesso":true,"resposta":"OK"}'
  recorded_at: Sun, 28 Dec 2025 13:35:02 GMT
recorded_with: VCR 6.3.1
