---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/creditcard/create
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test One time credit card payment","amount":{"currency":"EUR","value":"0.106e2"},"successUrl":"https://www.test.com/success","failUrl":"https://www.test.com/fail","backUrl":"https://www.test.com/back","lang":"PT","minutesFormUp":1440}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","transactionID":"FILTERED","reference":"FILTERED","redirectUrl":"FILTERED"}'
  recorded_at: Sun, 28 Dec 2025 11:38:03 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/auth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<EUPAGO_CLIENT_ID>&client_secret=<EUPAGO_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","access_token":"FILTERED","token_type":"Bearer","expires_in":432000}'
  recorded_at: Sun, 28 Dec 2025 11:38:05 GMT
- request:
    method: get
    uri: https://sandbox.eupago.pt/api/management/v1.02/references/info?reference=FILTERED
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","referenceList":[{"reference":"FILTERED","entity":"10047","amount":"10.60000","datetime":"2025-12-28T11:38:03Z","status":"pendente","identifier":"Test
        One time credit card payment"}]}'
  recorded_at: Sun, 28 Dec 2025 11:38:05 GMT
recorded_with: VCR 6.3.1
