---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/mbway/create
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test MBWay Payment","amount":{"currency":"EUR","value":10},"customerPhone":"912345678","countryCode":"+351","customer":{"notify":true,"name":"Test
        User","email":"alexoliveira7x+eupagotester@gmail.com","failOver":"0","phone":"912345678"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","transactionID":"FILTERED","reference":"FILTERED"}'
  recorded_at: Mon, 05 Jan 2026 20:29:32 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/clientes/rest_api/multibanco/info
    body:
      encoding: UTF-8
      string: '{"referencia":"235887","chave":"<EUPAGO_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entidade":null,"referencia":"FILTERED","identificador":"Test MBWay
        Payment","estado":0,"data_criacao":"2026-01-05","hora_criacao":"20:29:32","estado_referencia":"paga","pagamentos":[{"trid":"FILTERED","estado":"paga","valor":"10.00000","comissao":"0.14000","arquivada":false,"data_pagamento":"2026-01-05","hora_pagamento":"20:29:39","local_pagamento":null,"data_previsao_transferencia":"2026-01-08"}],"sucesso":true,"resposta":"OK"}'
  recorded_at: Mon, 05 Jan 2026 20:29:58 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/clientes/rest_api/multibanco/info
    body:
      encoding: UTF-8
      string: '{"referencia":"235887","chave":"<EUPAGO_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entidade":null,"referencia":"FILTERED","identificador":"Test MBWay
        Payment","estado":0,"data_criacao":"2026-01-05","hora_criacao":"20:29:32","estado_referencia":"paga","pagamentos":[{"trid":"FILTERED","estado":"paga","valor":"10.00000","comissao":"0.14000","arquivada":false,"data_pagamento":"2026-01-05","hora_pagamento":"20:29:39","local_pagamento":null,"data_previsao_transferencia":"2026-01-08"}],"sucesso":true,"resposta":"OK"}'
  recorded_at: Mon, 05 Jan 2026 20:30:10 GMT
recorded_with: VCR 6.3.1
