---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/mbway/create
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test MBWay Payment","amount":{"currency":"EUR","value":10},"customerPhone":"912345678","countryCode":"+351","customer":{"notify":true,"name":"Test
        User","email":"alexoliveira7x+eupagotester@gmail.com","failOver":"0","phone":"912345678"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","transactionID":"FILTERED","reference":"FILTERED"}'
  recorded_at: Mon, 05 Jan 2026 20:29:21 GMT
recorded_with: VCR 6.3.1
