---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/creditcard/subscription
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test Subscription","amount":{"currency":"EUR","value":10},"subscription":{"autoProcess":0,"collectionDay":null,"periodicity":"Mensal","date":"2025-09-14","limitDate":"2026-09-14","customer":{"notify":true,"email":"alexoliveira7x+eupagotester@gmail.com","phone":null,"name":"Test
        User"}},"successUrl":"https://www.test.com/success","failUrl":"https://www.test.com/fail","backUrl":"https://www.test.com/back","lang":"PT","minutesFormUp":1440}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","statusSubs":"Pending","subscriptionID":"FILTERED","referenceSubs":"FILTERED","redirectUrl":"FILTERED"}'
  recorded_at: Sun, 14 Sep 2025 18:18:57 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/creditcard/payment/FILTERED
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test Payment","amount":{"currency":"EUR","value":10},"customer":{"notify":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Rejected","code":"INVALID_SUBS_PERMISSIONS","text":"Subscription
        is invalid or your account doesn''t have the permissions to trigger this payment.
        Please confirm your data."}'
  recorded_at: Sun, 14 Sep 2025 18:18:59 GMT
recorded_with: VCR 6.3.1
