---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/clientes/rest_api/multibanco/create
    body:
      encoding: UTF-8
      string: '{"identifier":"Test Multibanco Payment","data_inicio":"2026-01-05","data_fim":"2026-01-12","valor":10,"valor_minimo":null,"valor_maximo":null,"per_dup":0,"campos_extra":[],"failOver":"0","email":"alexoliveira7x+eupagotester@gmail.com","contacto":null,"userID":null,"chave":"<EUPAGO_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sucesso":true,"estado":0,"resposta":"OK","referencia":"FILTERED","valor":"10.00000","entidade":"81921","valor_minimo":"10","valor_maximo":"10","data_inicio":"2026-01-05","data_fim":"2026-01-12"}'
  recorded_at: Mon, 05 Jan 2026 19:45:27 GMT
recorded_with: VCR 6.3.1
