---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/auth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<EUPAGO_CLIENT_ID>&client_secret=<EUPAGO_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","access_token":"FILTERED","token_type":"Bearer","expires_in":432000}'
  recorded_at: Fri, 12 Sep 2025 16:21:06 GMT
recorded_with: VCR 6.3.1
