---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/creditcard/subscription
    body:
      encoding: UTF-8
      string: '{"payment":{"identifier":"Test Subscription","amount":{"currency":"EUR","value":10},"subscription":{"autoProcess":1,"collectionDay":13,"periodicity":"Mensal","date":"2025-09-13","limitDate":"2026-09-13","customer":{"notify":true,"email":"alexoliveira7x+eupagotester@gmail.com","phone":null,"name":"Test
        User"}},"successUrl":"https://www.test.com/success","failUrl":"https://www.test.com/fail","backUrl":"https://www.test.com/back","lang":"PT","minutesFormUp":1440}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","statusSubs":"Pending","subscriptionID":"<FILTERED>","referenceSubs":"<FILTERED>","redirectUrl":"<FILTERED>"}'
  recorded_at: Sat, 13 Sep 2025 01:49:15 GMT
recorded_with: VCR 6.3.1
