---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/creditcard/subscription
    body:
      encoding: UTF-8
      string: amount=1000&currency=EUR
    headers:
      Authorization:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>nginx/1.20.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 10 Sep 2025 22:10:37 GMT
recorded_with: VCR 6.3.1
