---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/auth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<EUPAGO_CLIENT_ID>&client_secret=<EUPAGO_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","access_token":"FILTERED","token_type":"Bearer","expires_in":432000}'
  recorded_at: Fri, 02 Jan 2026 22:28:29 GMT
- request:
    method: get
    uri: https://sandbox.eupago.pt/api/management/v1.02/directdebits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","directDebitAuthorizationsList":[{"authorizationId":"FILTERED","reference":"FILTERED","identifier":"Test
        Direct Debit Subscription","debtor":{"name":"NomeDoDevedor","email":"alexoliveira7x+eupagotester@gmail.com","address":{"street":"Rua
        das coisas","zipCode":"1234-5678","locality":"Lisboa","country":"PT"},"iban":"FILTERED","bic":"FILTERED"},"status":"Pendente","payment":{"amount":"20.00","type":"RCUR","periodicity":"Mensal","collectionDay":"14","date":"2025-09-14","limitDate":"2026-09-14"},"creationDate":"2025-09-14
        20:49:42"},{"authorizationId":"FILTERED","reference":"FILTERED","identifier":"Test
        Direct Debit Subscription","debtor":{"name":"NomeDoDevedor","email":"alexoliveira7x+eupagotester@gmail.com","address":{"street":"Rua
        das coisas","zipCode":"1234-5678","locality":"Lisboa","country":"PT"},"iban":"FILTERED","bic":"FILTERED"},"status":"Pendente","payment":{"amount":"20.00","type":"RCUR","periodicity":"Mensal","collectionDay":"14","date":"2025-09-14","limitDate":"202[...]
