---
http_interactions:
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/directdebit/authorization
    body:
      encoding: UTF-8
      string: '{"debtor":{"address":{"zipCode":"1234-5678","country":"PT","street":"Rua
        das coisas","locality":"Lisboa"},"iban":"PT50123443211234567890172","name":"NomeDoDevedor","bic":"CGDIPTPL","email":"alexoliveira7x+eupagotester@gmail.com"},"payment":{"autoProcess":"0","type":"RCUR","date":"2026-01-05","amount":20,"collectionDay":null,"periodicity":"Mensal","limitDate":"2027-01-05"},"adminCallback":"https://random.free.beeceptor.com?source=RubyEupagoTests","identifier":"Test
        Direct Debit Subscription"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","reference":"FILTERED"}'
  recorded_at: Mon, 05 Jan 2026 19:54:04 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/api/v1.02/directdebit/payment/FILTERED
    body:
      encoding: UTF-8
      string: '{"date":"2026-01-12","amount":20,"obs":"Test Direct Debit Payment -
        payment after authorization","type":"RCUR"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionStatus":"Success","collectionDate":"2026-01-12"}'
  recorded_at: Mon, 05 Jan 2026 19:54:19 GMT
- request:
    method: post
    uri: https://sandbox.eupago.pt/clientes/rest_api/multibanco/info
    body:
      encoding: UTF-8
      string: '{"referencia":"117264800000201492","chave":"<EUPAGO_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entidade":null,"referencia":"FILTERED","identificador":"Test Direct
        Debit Payment - payment after authorization","estado":0,"data_criacao":"2026-01-05","hora_criacao":"19:54:19","estado_referencia":"paga","pagamentos":[{"trid":"FILTERED","estado":"paga","valor":"20.00000","comissao":"0.45000","arquivada":false,"data_pagamento":"2026-01-05","hora_pagamento":"00:00:00","local_pagamento":null,"data_previsao_transferencia":"2026-02-22"}],"sucesso":true,"resposta":"OK"}'
  recorded_at: Mon, 05 Jan 2026 19:54:43 GMT
recorded_with: VCR 6.3.1
